.img {
  width: 100%;
  height: 100%;
}

.view12 {
  display: none;
  font-size: larger;
  background-color: aqua;
}

.container {
  font-size: 32rpx;
}

.share-landing-showcase {
  width: 100%;
  margin-top: 10rpx;
  border: 1rpx solid #ccc;
  border-radius: 10rpx;
  display: inline-block;
  text-align: center;
}

.code {
  background-color: #2d2d2d;  /* 深色背景 */
  color: #f8f8f2;             /* 代码文本颜色 */
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  line-height: 1.5;
  white-space: pre-wrap;       /* 保持换行 */
  overflow-x: auto;            /* 水平滚动条 */
}

.code-placeholader {
  width: 22rpx;
  display: inline-block;
}

.share-landing-showcase-image {
  width: 50%;
}

.title {
  font-weight: bold;
  font-size: 26rpx;
  color: #333;
  margin-top: 20rpx;
}

.share-desc {
  font-size: 28rpx;
  color: var(--xhs-theme-color);
  font-weight: bold;
  font-style: italic;
  margin-top: 20rpx;
}

.share-resp {
  border: 1px solid rgab(0, 0, 0, 0.1);
  background: #f2f2f2;
  font-style: italic;
  font-size: 24rpx;
  padding: 10px;
  color: rgba(0, 0, 0, 0.55);
  min-height: 200rpx;
}

.share-resp-ticket {
  font-size: 30rpx;
  color: #a62222;
  font-weight: bold;
  margin-top: 20rpx;
}

.share-resp-ticket-sub {
  margin-left: -10px;
  margin-top: -2px;
  text-align: start;
}

.sub_desc {
  --grey-53: ;
  font-size: 26rpx;
  margin: 10rpx;
  color: rgba(0, 0, 0, .53);
}

.share-input {
  width: 100%;
  border: 1px solid rgab(0, 0, 0, 0.1);
  background: #f2f2f2;
  font-style: italic;
  font-size: 24rpx;
  padding: 10px;
  color: rgba(0, 0, 0, 0.55);
  min-height: 100rpx;
}


.normal {
  background-color: green;
  color: #f2f2f2;
  word-break: break-all;
  word-wrap: normal;
  width: 100%;
  line-height: 1.2;
  padding: 10px 0px 0px 10px;
}


.execption {
  background-color: red;
  color: #f2f2f2;
  word-break: break-all;
  word-wrap: normal;
  width: 100%;
  height: 60px;
  line-height: 1.2;
  padding: 10px 0px 0px 10px;
}
