
.video-action button {
  margin: 10rpx;
  flex: 1;
}

.video-action-input .video-action-input-item {
  display: flex;
  align-items: center;
  height: 60rpx;
  margin-bottom: 20rpx;
}

.video-action-input .player-text {
  width: 180rpx;
  font-weight: bolder;
  font-size: 26rpx;
}

.video-action-input .player-input {
  flex: 1;
  border-bottom: 1rpx solid rgba(128, 128, 128, 0.5);
}

.video-action > view {
  display: flex;
}

.video-show {
  padding: 10rpx;
  border-radius: 12rpx !important;
  overflow: hidden !important;
  padding-top: 10rpx;
  padding-bottom: 0;
}

.myVideo {
  border-radius: 12rpx !important;
}

.video-show video {
  width: 100%;
  border-radius: 12rpx;
}


._ui-button-transparent {
  background-color: white;
  border: 1rpx solid #ff2442;
  color: rgba(255, 36, 66, 1);
}

.album-container {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%; /* 每列占 33.33% */
  grid-template-rows: auto; /* 行高根据内容自动适配 */
  gap: 10rpx; /* 设置子项之间的间距 */
}

.album-container .album-item {
  background-color: white;
  border: 1rpx solid #ff2442;
  color: rgba(255, 36, 66, 1);
}

.album-container .album-item:active {
  background-color: #ff2442;
  color: white;
}
