@import "../theme.css";
.page-container { 
  padding: 0; 
  background: #f5f5f5;
}
.image-list {
  display: flex;
  flex-direction: column;
  gap: 0;
}
.case-image {
  width: 100%;
  display: block;
}
