.img {
  width: 100%;
  height: 100%;
}

.view12 {
  display: none;
  font-size: larger;
  background-color: aqua;
}

.container {
  font-size: 32rpx;
}

.title {
  font-weight: bold;
  font-size: 26rpx;
  color: #333;
  margin-top: 20rpx;
}

.share-desc {
  font-size: 28rpx;
  color: var(--xhs-theme-color);
  font-weight: bold;
  font-style: italic;
  margin-top: 20rpx;
}

.share-resp {
  border: 1px solid rgab(0, 0, 0, 0.1);
  background: #f2f2f2;
  font-style: italic;
  font-size: 24rpx;
  padding: 10px;
  color: rgba(0, 0, 0, 0.55);
  min-height: 200rpx;
}

.margin-room {
  margin-bottom: 20px;
}