.page-body-text-screen-brightness {
  font-size: 40px;
  font-family: -apple-system-font, Helvetica Neue,Helvetica,sans-serif;
}

.page-section-gap {
  padding: 15px;
}

.api-resp {
  border: 1px solid rgba(0,0,0,.1);
  background: #f2f2f2;
  font-style: italic;
  font-size: 24rpx;
  padding: 20rpx;
  margin: 16rpx;
  color: rgba(0, 0, 0, 0.55);
  min-height: 200rpx;
  border-radius: 20px;
}
